<!DOCTYPE html>
<html>
    <head>
        <title>Mark's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Mark's Blog</a></h1>
        </header>

        <article>
            <time>published: 04.20.2026, 10:40</time>
            <h2><a href="">My first post</a></h2>
            <p>Jesus Loves You!</p>
        </article>

        <article>
            <time>published: 04.20.2026, 10:40</time>
            <h2><a href="">My second post</a></h2>
            <p>God is good</p>
        </article>
    </body>
</html>